---
---

@import "{{ site.theme }}";


.button {
  background-color: #424242;
  border: none;
  color: #fcba03;
  padding: 10px 27px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
