<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    {% include head-custom.html %}
  </head>
  <body>
    <div id="page-container">
      <div class="wrapper">
      <section>
        <div id="title">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
          <p>{{ site.description | default: site.github.project_tagline }}</p>
        </div>
        <div class="topnav" id="myTopnav" align="center">
            <a href="https://dspucches.github.io">Home</a>
            <a href="https://dspucches.github.io/2023/02/22/resume.html">Resume</a>
            <a href="https://dspucches.github.io/2023/02/22/posts.html">Posts</a>
            <a href="https://dspucches.github.io/2023/03/07/news.html">News</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()"><i class="fa fa-bars"></i></a>
        </div>
        {{ content }}
      </section>

    </div>
    <footer id="footer">
     <div class="my-social">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <ul>
          <li><a href="https://github.com/dspucches" target="_blank"><i class="fab fa-github icon"></i></a></li>
          <li><a href="https://twitter.com/dominicspucches" target="_blank"><i class="fab fa-twitter icon"></i></a></li>
          <li><a href="https://www.linkedin.com/in/dspucches/" target="_blank"><i class="fab fa-linkedin-in icon"></i></a></li>
          <li><a href="https://www.instagram.com/dspucch/" target="_blank"><i class="fab fa-instagram icon"></i></a></li>
        </ul>
     </div>
    </footer>
    </div>
  </body>
</html>
